.pixel, .row, #container, body {
    display: flex;
}

#container, body {
    flex-direction: column;
}

#container, .pixel {
    border-style: solid;
    border-color: black;
}

body {
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#container {
    width: 920px;
    height: 920px;
    border-width: 5px;
    justify-content: center;
    align-items: stretch;
}

.row {
    align-items: stretch;
    flex-basis: 100%;
}

.pixel {
    border-width: 1px;
    flex-basis: 100%;
}


#black {
    background-color: black;
}

#setGrid {
    display: flex;
    padding: 4px;
}