.container, .pixel, .row, body {
    display: flex;
}

body {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.container {
    margin: 20px;
}

.pixel {
    padding: 20px;
    border-style: solid;
    border-width: 3px;
    border-color: black;
}

#black {
    background-color: black;
}

#setGrid {
    display: flex;
    padding: 4px;
}